doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Less Coding, More Thinkng

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='styles/ti.css')
    // endbuild

  // TODO : 조금 욕심 내기
  // 적절한 font 찾기
  // 코드가 잘보이도록 테마 변경 (열악한 프로젝터 환경도 상관없도록)
  body
    article#main-article
      section(data-bespoke-state='reveal')
        span.small_title 2014.02.25 - 본 자료는 chrome(osx)으로 보기를 권장합니다.
        h1 Less Coding
        h1 More Thinking

      section(data-bespoke-state='emphatic')
        h2 이종은
        h3 인디 개발자
        ul.badge_list
          li
            | Yo Studio
          li
            | TiDev.kr(한국 타이타늄 사용자 모임) 운영
          li 
            | Titanium Certified Expert
          li
            | Titan
          li
            img(src='tidev.png', class="badge")
            &nbsp;
            img(src='tced.png', class="badge")
            &nbsp;
            img(src='titans.png', class="badge")


      section(data-bespoke-state='startline')
        h1 Ready~ Go!

      section(data-bespoke-state='reveal')
        h2 오늘은..
        ol.lecture_list
          li 서버와 클라이언트
          li front-end
          li back-end
          li 마음가짐
      section(data-bespoke-state='reveal')
        span.small_title Web과 App의 관점에서
        h2 1.
          a(href="http://ko.wikipedia.org/wiki/클라이언트",target="_blank") 클라이언트
          | 와 
          a(href="http://ko.wikipedia.org/wiki/서버",target="_blank") 서버

      section(data-bespoke-state='emphatic')
        h2 과거의 Web환경에서의 역할
        ul
          li 서버 : 데이터를 바탕으로 View의 SnapShoot을 찍어서 보내줌
          li 클라이언트 : 서버로 부터 받은 것을 
            strong 그대로 
            | 보여줌
          li
            img(src="http://upload.wikimedia.org/wikipedia/commons/8/89/Client-Server_Model.jpg",width="300px")
            p.small_font
              | 이미지 출처 :
              a(href="http://commons.wikimedia.org/wiki/File:Client-Server_Model.jpg",target="_blank") wikimedia.org

      section(data-bespoke-state="emphatic")
        img(src="frontend.png",width="500px")
        p.small_font
          | 이미지 출처 :
          a(href="https://speakerdeck.com/hjortureh/javascript-mvc-backbonejs-tips-tricks",target="_blank") MVC Framework in Javascript

      section(data-bespoke-state='emphatic')
        h1 변화
        hr
        h2 서버
        ul
          li 데이터 
            a(href="http://ko.wikipedia.org/wiki/CRUD",target="_blank") CRUD 
            | 요청을 받아 결과를 알려줌
          li 어떻게 보여지는지는 모름
        hr
        h2 클라이언트
        ul
          li 하나의 Application
          li 데이터를 어떻게 보여줄지를 결정
          li UI, UX의 핵심

      section(data-bespoke-state='reveal')
        h2 2. Front-end

      section(data-bespoke-state='emphatic')
        h3 웹, 앱, 웹앱, 하이브리드, 네이티브?

      section(data-bespoke-state='reveal')
        img(src='frontend_class.png',width="500px")   

      section(data-bespoke-state='emphatic')
        h2 Cross Platform ??
        hr
        h3 Write once, run everywhere
          br
          a(href="http://phonegap.com",target="_blank") (phonegap)
        h3 vs.
        h3 Write once, adopt everywhere
          br
          a(href="http://www.appcelerator.com/titanium/",target="_blank") (titanium)

      section(data-bespoke-state='emphatic')
        h2 제 선택은요?
        h3 Titanium

        ul
          li 쉽고 (초기 러닝커브 낮음)
          li 빠르게 (시간 절감)
          li 유연성 (크로스 플랫폼 및 Javascript를 이용한 Fullstack)
          li 사용자 경험 유지

      section(data-bespoke-state='reveal')
        h2 3. Back-end

      section(data-bespoke-state='emphatic')
        h3 IAAS, PAAS, BAA, SAAS?

      section(data-bespoke-state='emphatic')
        h3 OOO As A ServiceIAAS
        ul
          li Infra
          li Platform
          li Back-end
          li Software

      section(data-bespoke-state='emphatic')
        h2 소유하지 말고 사용해라
        h3 
          a(href="http://www.gartner.com/newsroom/id/2463615",target="_blank") Gartner 모바일 앱의 BAAS 2016년 40% 전망
        ul
          li
            a(href="http://www.appcelerator.com/cloud/",target="_blank") ACS
          li
            a(href="https://baas.io/",target="_blank") BaaS.io
          li
            a(href="http://www.kinvey.com/",target="_blank") Kinvey.com
          li
            a(href="https://parse.com/",target="_blank") Parse.com
          
      section(data-bespoke-state='emphatic')
        h3 Front-end와 Back-end 중
        p
          | 지금 내 경우에 더 중요한 것은?

      section(data-bespoke-state='reveal')
        h2 4. 마음 가짐
        p
          | = 제 자신에게 하는 이야기

      section(data-bespoke-state='emphatic')
        span.small_title 충격적이고도 냉정한 진실
        h2 확실하지도 않은 아이디어!

      section(data-bespoke-state='stair')
        h2 지금 내가 딛는 계단에 집중

      section(data-bespoke-state='hello')
        span.small_title 궁금해요.
        h2 프로젝트 및 팀 소개
        h3 알려주세요.

      section(data-bespoke-state='conversation')
        h2 대화의 시간
        h3 QnA

      section(data-bespoke-state='success')
        h2 감사합니다.

      

      
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-tishadow/dist/bespoke-tishadow.js')
    script(src='bower_components/bespoke-run/dist/bespoke-run.js')
    //- script(src='bower_components/bespoke-jumpy/dist/bespoke-jumpy.js')
    //- script(src='bower_components/bespoke-dir/dist/bespoke-dir.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild